@using ShoeShop.Models.ViewModel;
@model ResetPasswordViewModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="log-in ptb-100 ptb-sm-60">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-12 d-flex justify-content-center align-items-center text-center">
                <div class="login-content">
                    <div class="login-table">
                        <section class="vh-100">
                            <div class="container py-5 h-100">
                                <div class="row d-flex align-items-center justify-content-center h-100">
                                    <div class="col-md-8 col-lg-7 col-xl-6">
                                        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.svg"
                                             class="img-fluid" alt="Phone image">
                                    </div>
                                    <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
                                        <form class="register-form form-outline mb-4"  method="post"
                                              asp-action="ResetPassword" asp-controller="Account">
                                              <div asp-validation-summary="ModelOnly"></div>
                                            <input type="hidden" asp-for="Email" class="form-control">
                                            <!-- Email input -->
                                            <span class="fw-bold mb-2 text-uppercase custom-title">ĐỔI MẬT KHẨU</span>
                                            
                                            <!-- Password input -->
                                            <div class="form-outline mb-4">
                                                <input type="password" asp-for="Password" class="form-control"
                                                       
                                                       placeholder="Nhập mật khẩu mới">
                                            </div>
                                            <div class="form-outline mb-4">
                                                <input type="password" asp-for="ConfirmPassword" class="form-control"
                                                     
                                                       placeholder="Xác nhận mật khẩu">
                                            </div>
                                            <div class="form-outline mb-4">
                                                <input type="number" asp-for="VerificationCode" class="form-control"
                                                       placeholder="Nhập Verification Code">
                                            </div>
                                            <!-- Submit button -->
                                            <div class="btn">
                                                <button type="submit" class="btn-primary btn-lg btn-block">
                                                    LƯU THAY
                                                    ĐỔI
                                                </button>
                                            </div>
                                            <div class="message2">
                                                <a href="login.jsp"> Trở Về</a>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
