@using ShoeShop.Models.ViewModel
@model UserViewModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="container">
    <!-- Row End -->
    <div class="row">
        <div class="col-sm-12">
            <form class="form-register" asp-action="Edit" asp-area="Admin" asp-controller="User" method="post" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly"></div>
                <input type="hidden" asp-for="Id" />

                @if (TempData["Error"] != null)
                {
                    <span class="text-danger">@TempData["Error"]</span>
                }
                <fieldset>
                    <legend>Thông tin cá nhân</legend>
                    <div class="form-group d-md-flex align-items-md-center">
                        <label class="control-label col-md-2"><span class="require">*</span>Họ và tên: </label>
                        <div class="col-md-10">
                            <input asp-for="Username" type="text" class="form-control" required placeholder="Vui lòng nhập họ và tên">
                            <span asp-validation-for="Username" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group d-md-flex align-items-md-center">
                        <label class="control-label col-md-2"><span class="require">*</span>SĐT: </label>
                        <div class="col-md-10">
                            <input type="number" asp-for="PhoneNumber" class="form-control" required placeholder="vui lòng nhập SDT">
                            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                        </div>

                    </div>

                    <div class="form-group d-md-flex align-items-md-center">
                        <label class="control-label col-md-2" for="avatar"><span class="require">*</span>Ảnh đại diện</label>
                        <div class="col-md-10">
                            <input type="file" asp-for="avatar"  class="form-control" placeholder="Chọn hình ảnh">
                            <span asp-validation-for="avatar" class="text-danger"></span>
                        </div>

                    </div>
                </fieldset>
                <fieldset>
                    <legend>Cài đặt tài khoản</legend>
                    <div class="form-group d-md-flex align-items-md-center">
                        <label class="control-label col-md-2" for="email"><span class="require">*</span>Email</label>
                        <div class="col-md-10">
                            <input type="email" asp-for="Email" class="form-control" placeholder="Nhập địa chỉ email...">
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>

                    </div>
                    <div class="form-group d-md-flex align-items-md-center">
                        <label class="control-label col-md-2" for="email"><span class="require">*</span>Quyền truy cập</label>
                        <div class="col-md-10">
                            <select asp-for="Role" class="form-control">
                                @if (User.IsInRole("admin"))
                                {
                                    <option value="user">User</option>
                                    <option selected value="admin">Admin</option>
                                }
                                else
                                {
                                    <option selected value="user">User</option>
                                    <option value="admin">Admin</option>
                                }
                            </select>
                            <span asp-validation-for="Role" class="text-danger"></span>
                        </div>
                    </div>
                </fieldset>
                <div class="terms">
                    <div class="float-md-right">
                        <input type="submit" value="Lưu" class="btn btn-primary">
                        <a href="/Admin/User/" class="btn btn-secondary">Hủy</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- Row End -->
</div>
