@using ShoeShop.Models.ViewModel
@model ContactViewModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="breadcrumb-area mt-30">
    <div class="container">
        <div class="breadcrumb">
            <ul class="d-flex align-items-center">
                <li><a href="index.html">Trang chủ</a></li>
                <li class="active"><a href="contact.html">Liên hệ</a></li>
            </ul>
        </div>
    </div>
    <!-- Container End -->
</div>
<!-- Breadcrumb End -->
<!-- Contact Email Area Start -->
<div class="contact-area ptb-100 ptb-sm-60">
    <div class="container">
        <h3 class="mb-20">Liên hệ chúng tôi</h3>
        <p class="text-capitalize mb-20">Khách hàng là trên hết, vì thế chúng tôi luôn quang tâm đến nhu cầu của các bạn!</p>
        <form id="contact-form" class="contact-form" asp-action="Contact" asp-controller="Home" method="post">
            <div class="address-wrapper row">
                
                <div class="col-md-12">
                    <div class="address-subject">
                        <input class="form-control" type="text" asp-for="Subject" placeholder="Chủ đề ">
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="address-textarea">
                        <textarea asp-for="Content" class="form-control" placeholder="Ghi chú của bạn..."></textarea>
                    </div>
                </div>
            </div>
            <p class="form-message">
                <div class="footer-content mail-content clearfix">
                    <div class="send-email float-md-right">
                        <input value="Gửi" class="return-customer-btn" type="submit">
                    </div>
                </div>
        </form>
    </div>
</div>
