@using ShoeShop.Dto;
@using ShoeShop.Models.Enum
@model ProductDto
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<form method="post" action="/Admin/Product/Edit/@Model.Id" enctype="multipart/form-data">
    <input type="hidden" asp-for="Id" />
    <div class="form-group">
        <label asp-for="Title">Tên sản phẩm</label>
        <input asp-for="Title" class="form-control" placeholder="Nhập tên sản phẩm">
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Description">Mô tả</label>
        <input asp-for="Description" class="form-control" placeholder="Nhập mô tả">
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Category">Thể loại</label>
        <select asp-for="Category" class="form-control" asp-items="@Html.GetEnumSelectList<Category>()">
            <option selected="selected">--Chọn--</option>
        </select>
        <span asp-validation-for="Category" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Brand">Thương hiệu</label>
        <select asp-for="Brand" class="form-control" asp-items="@Html.GetEnumSelectList<Brand>()">
            <option selected="selected">--Chọn--</option>
        </select>
        <span asp-validation-for="Brand" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Gender">Giới tính</label>
        <select asp-for="Gender" class="form-control" asp-items="@Html.GetEnumSelectList<Gender>()">
            <option selected="selected">--Chọn--</option>
        </select>
        <span asp-validation-for="Gender" class="text-danger"></span>
    </div>
    
    <div class="form-group">
        <label asp-for="Price">Giá</label>
        <input asp-for="Price" class="form-control" type="number" placeholder="Nhập giá sản phẩm">
        <span asp-validation-for="Price" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Sale">Giảm giá (%)</label>
        <input asp-for="Sale" class="form-control" placeholder="Nhập tỉ lệ giảm giá">
        <span asp-validation-for="Sale" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Quantity">Số lượng</label>
        <input asp-for="Quantity" class="form-control" placeholder="Enter State">
        <span asp-validation-for="Quantity" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Status">Tình trạng</label>
        <select asp-for="Status" class="form-control" asp-items="@Html.GetEnumSelectList<ProductStatus>()">
            <option selected="selected">--select--</option>
        </select>
        <span asp-validation-for="Status" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Image1">Hình ảnh 1</label>
        <input asp-for="Image1" type="file" class="form-control" >
        <span asp-validation-for="Image1" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Image2">Hình ảnh 2</label>
        <input asp-for="Image2" type="file" class="form-control">
        <span asp-validation-for="Image2" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Image3">Hình ảnh 3</label>
        <input asp-for="Image3" type="file" class="form-control">
        <span asp-validation-for="Image3" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Lưu</button>
    <a href="/Admin/Product/" class="btn btn-secondary">Hủy</a>
</form>